# ~/.gitconfig

[user]
  name = Tyler Brazier
  email = tyler@tylerbrazier.com

[core]
  editor = vim

[color]
  ui = true

[alias]
  s = status
  a = add -A
  c = commit
  b = branch
  up = "!git add -A && git commit --allow-empty-message && git push"
  down = "!git add -A && git stash && git fetch && git merge && git stash pop"

[push]
  default = simple  # push current branch upstream by default

[diff]
  tool = vimdiff
